@{

}
<div class="layui-main site-inline">
    <div class="site-tree">
        <ul class="layui-tree"></ul>
    </div>
    <div class="site-content">
        <div style="width:80%; height:430px; text-align:center; padding-top:150px; font-size:20px; font-weight:bold; letter-spacing:6px;">
            论坛功能正在开发中......
        </div>
    </div>
</div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon"></i>
</div>