@{

}
<div class="layui-main site-inline">
    <div class="site-tree">
        <ul class="layui-tree">
            
        </ul>
    </div>
    <div class="site-content">
		<div style="width:80%; height:430px; padding-top:150px; font-size:20px; font-weight:bold; letter-spacing:6px;line-height:20px;">
			<br />
			<br />

			<p style="font-size:14px;"><a href="https://github.com/movingsam/FreeSqlWebApiDemo" target="_blank">https://github.com/movingsam/FreeSqlWebApiDemo</a></p>
			<p>
				一个基于FreeSql构建的Demo，这个项目风格好高
			</p>

			<br />
			<br />
			<br />
			<br />

			<p style="color:#aaa;">...更多见 github 开源仓储里 Examples 目录...</p>
		</div>
	</div>
</div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon"></i>
</div>